@charset "utf-8";

body{
	background-color: darkcyan;
	margin: 0;
}
html{
	scroll-snap-type:y mandatory;
	
}

section{
	display: grid;
	place-items: center;
	align-content: center;
	min-height: 100vh;
	scroll-snap-align: center;
}

.hidden{
	opacity: 0;
	filter: blur(2px);
	transition: all 1s;
	transform: translateY(100%);
}
.show{
	filter: blur(0px);
	opacity: 1;
	transform: translateY(0%);
}
